.banner-card{
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 3vh;
  position: relative;
  height: 70vh;
  color: white;
}

.banner-img{
height: 70vh;
width: 100%;
opacity: 0.9;
}

.banner-title{
position: absolute;
top: 45vh;
left: 5vw;
}

.banner-text{
position: absolute;
top: 55vh;
left: 5vw;
height: 4.5rem;
overflow: hidden;
margin-right: 5vw;
}
.movies-list{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.movies-card{
  width: 20vw;
  margin: 1rem;
  color: white;
  position: relative;
}

.movies-title{
  position: absolute;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: rgba(21,32 ,43 , 0.5);
  /* opacity: 0.2 */
  width: 100%;
  height: 35%;
}



.movies-button{
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 30%;
  padding-top: 1.5rem;
  opacity: 0.6;
}
/* style={{height:'40vh',width:'20vw'}} */
.movies-img{
  height: 35vh;
  width: 20vw;
}

.favourites-genres{
  padding: 3rem;
}

.favourites-table{
  padding: 3rem;
  overflow: auto;
}



@media screen and (max-width:400px){
  .banner-card{
    height:30vh;
  }
  .banner-img{
    height: 30vh;
  }
  .banner-title{
    top: 12vh;
    left: 5vw
  }
  .banner-text{
    top: 17vh;
    left: 5vw;
  }

  .movies-card{
    width: 40vw;
    margin: 0.1rem;
  }
  .movies-button{
    width: 100%;
    padding-top: 1rem ;

  }
  .movies-img{
    width: 40vw;
  }

  
}

